body{
	margin: 0;
	background-color: #e1e1e1;
}

.myNavbar{
  background-color: #4a90e2;
  padding: 20px;
  text-align: center;
}

a, span{
	font-family: system-ui;	
    text-decoration: none;
}

.nav-text{
  text-align: center;
  padding:15px 40px 19px 40px;
  font-family: system-ui;
  font-size: 25px;
  color:#00408b;
}

.nav-text:hover{
	border-bottom-style:solid;
	border-bottom-color: #00408b;
	border-bottom-width: 4px;	
	color: white;
}

.add-task{
	margin: 50px auto auto auto;
	width: 60%;
	background-color: #f2f2f2;
	border-radius: 8px;
}

.task-title{
    padding: 20px 10px 20px 30px;
	border-bottom-style:solid;
	border-bottom-color: #e1e1e1;
	border-bottom-width: 2px;
}

.task-title-text{
	font-size: 25px;
}

.task-content{
	padding:  20px 10px 20px 40px;
}

.task-content-val{
	padding:  5px 10px 20px 50px;
}

.right-align{
	width: 25px;
	float: right;
	margin-right: 15px;
}

.btn-cancel{
	padding: 20px 20%;
	background-color: white;
}

.btn-addtask{
	padding: 20px 20%;
	background-color: #4a90e2;
}

input[type=checkbox]{
	padding: 10px;
	margin-right: 15px;
}

input[type=text]{
	border-width: 0;
	width: 120px;
}

span{
	vertical-align: middle;
}

textarea{
	width:90%;
}
